{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1>Disrupting TEEs with Malicious Notifications</h1>
    </div>
    <div class="col-lg-9 col-xl-10 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <!-- <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}guides/example-guide/" role="button">{{ i18n "get_started" }}</a> -->
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
{{ if site.Params.doks.backgroundDots -}}
<div class="d-flex justify-content-start">
  <div class="bg-dots" >
  </div>
</div>
{{ end -}}



<section class="section section-md section-features ">

  <div class="container">

    <div class="row justify-content-center">

      <div class="col-lg-5" >
        <div class="card-nav d-flex flex-column flex-sm-row" >
          <div class="card text-end w-100" >
            
            <div class="card-body d-flex">
              <div class="d-flex flex-column me-auto text-center w-100">
                <div>
                  <img src="Heckler-symbol.svg"  style='height: 230px;'>
                </div>
                <p></p>
                <h5 class="h4 card-title my-0"><a href="/heckler" class="stretched-link text-reset text-decoration-none">Heckler</a> <br/><span class="h5">(USENIX Sec'24)</span></h5>
                <p></p>
                <p>Breaking Confidential VMs with Malicious Interrupts</p>

              </div>
              <div class="d-flex flex-column justify-content-center" >
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l14 0"></path>
                  <path d="M13 18l6 -6"></path>
                  <path d="M13 6l6 6"></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="card-nav d-flex flex-column flex-sm-row" >
          <div class="card text-end w-100">

            <div class="card-body d-flex">
              <div class="d-flex flex-column me-auto text-start text-center w-100">
                <div>

                  <img src="WeSee-symbol.svg" class='' style='height: 230px;'>

                </div>
                <p></p>
                <h5 class="h4 card-title my-0"><a href="/wesee" class="stretched-link text-reset text-decoration-none">WeSee</a> <br/><span class="h5">(IEEE S&P'24)</span></h5>

                <p></p>
                <p>Using Malicious #VC Interrupts to Break AMD SEV-SNP</p>

              </div>
              <div class="d-flex flex-column justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l14 0"></path>
                  <path d="M13 18l6 -6"></path>
                  <path d="M13 6l6 6"></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="card-nav d-flex flex-column flex-sm-row" >
          <div class="card text-end w-100">

            <div class="card-body d-flex">
              <div class="d-flex flex-column me-auto text-start text-center w-100">
                <div>

                  <img src="Sigy-symbol.svg" class='' style='height: 230px;'>

                </div>
                <p></p>
                <h5 class="h4 card-title my-0"><a href="/sigy" class="stretched-link text-reset text-decoration-none">Sigy</a> <br/><span class="h5">(ACM AsiaCCS'25)</span></h5>

                <p></p>
                <p>Breaking Intel SGX Enclaves with Malicious Exceptions & Signals</p>

              </div>
              <div class="d-flex flex-column justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l14 0"></path>
                  <path d="M13 18l6 -6"></path>
                  <path d="M13 6l6 6"></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>

{{ end }}
{{ define "sidebar-footer" }}
<style>
 .quote-padding {
   padding: 2rem;
   /* background-color: red; */
 }
 @media only screen and (max-width: 600px) {
   .quote-padding {
     padding: 0rem;
     /* background-color: blue; */
     padding-top: 1rem;
     padding-bottom: 1rem;
   }
 }
</style>
<section class="section section-md container-fluid bg-light">
  <div class="container">
    <div class="row justify-content-center" style=''>

      <div class="col-lg-7" >
        <div class="d-flex flex-column flex-sm-row" >
          <div class="card text-end w-100">
            <div class="card-body d-flex">
              <div class="d-flex flex-column me-auto text-start">
                <div style='' class='quote-padding'>
                  <blockquote style='padding-left: 2rem; padding-top: 0.3rem; padding-bottom: 0rem; ' >
                    <em>Defining</em>
                    <div style=''>
                      <div style='height: 100%; float: left; margin-top: 1.4rem;'>
                        <i class="fas fa-volume-up fa-2x" class="volume" onclick="playSound()" style='cursor: pointer;'></i>
                      </div>
                      <div style='margin-left: 6rem;'>
                        <h2 id="ahoi-attacks-1">Ahoi Attacks<a href="#ahoi-attacks-1" class="anchor" aria-hidden="true"></a> </h2>
                        <p>/əˈhɔɪ əˈtaks/</p>
                      </div>
                    </div>
                    <div>
                      <em>noun <br/></em>
                      <ul>
                        a family of attacks that compromise TEEs using malicious notifications.
                        &nbsp;
                      </ul>
                    </div>
                  </blockquote>
                  <audio id="ahoi-attack-sound"></audio>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
       function playSound() {
         audio = new Audio("/ahoi-attacks-audio.mp3");
         audio.play();
       }
      </script>

      <div class="col-lg-7">
        <div class="d-flex flex-column flex-sm-row" >
          <div class="card text-end w-100">
            <div class="card-body d-flex">
              <div class="d-flex flex-column me-auto text-start  ">
                <div style='padding-left: 2rem;padding-right: 2rem; padding-bottom: 1rem;'>
                  <h2>Why the name Ahoi?</h2>
                  <em>Ahoy</em> is a word used to call a ship or boat. It is often used today in playful <a style='text-decoration: underline;' href="https://en.wikipedia.org/wiki/Ahoy_(greeting)">imitations
                    of pirate speak</a>. We coin the term <em>Ahoi</em>
                  (sounds like <em>Ahoy</em>) which is an anagram of 1 edit distance from <a href='https://dl.acm.org/doi/10.1145/2490301.2451145' style='text-decoration: underline;'>Iago</a> as
                  an homage to classical works that studied interface attacks with TEEs.
                  <!-- <a style='' class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}guides/example-guide/" role="button">Tell Me More</a> -->
                  <p></p>
                  <a style='' class="btn w-100 btn-primary btn-cta rounded-pill btn-lg my-3" href="/blog/ahoi-overview" role="button">Tell Me More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-md container-fluid">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10" >
        <div class="" >
          <div class="card text-end w-100">
            <div class="card-body d-flex">
              <div class="w-100 d-flex flex-column me-auto text-start text-center ">
                <div>
                  <iframe class='w-100' style='min-height: 500px'  src="https://www.youtube.com/embed/a1_7Dvbj-Qw?si=ovEGwpNozgE4dkGu&mute=1&rel=0" title="Ahoi Attacks" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                  <p style='margin-top: 0.5rem; margin-bottom: -0.2rem;'>Ahoi Attacks: An Analogy</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-10" >
        <div class="" >
          <div class="card text-end w-100">
            <div class="card-body d-flex">
              <div class="w-100 d-flex flex-column me-auto text-start text-center ">
                <div>
                  <iframe class='w-100' style='min-height: 500px' src="https://www.youtube.com/embed/UR8uhhOFer0?si=Dp2goobvPGvSSKUb&rel=0" title="Ahoi Attacks" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                  <p style='margin-top: 0.5rem; margin-bottom: -0.2rem;'>Ahoi Attacks: An Explainer</p>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
