// Put your custom SCSS code here
//

// .bg-dots {
// margin-top: 0rem;
// }
.section-features {
    // margin-top: -1rem;
}

.page-nav {
    display: none !important;

}

.head-button {
    min-width: 15rem;
}

.docs-content p a {
     text-decoration: underline;
}

.docs-content li a {
     text-decoration: underline;
}

summary {

}
